Source: flash-java-insecure-perms
Section: utils
Priority: optional
Maintainer: M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>=10)
Standards-Version: 4.1.2

Package: flash-java-insecure-perms
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, debconf (>= 0.2.26)
Description: Configure flash and java perms
 Configure flash and java perms
